{% extends "base.html" %}
    {% block title %}
    <title>About Me</title>
    {% endblock %}
    {% block body_block %}
    <h1>About Me: </h1>
    <p>I have been programming off and on since about 2001.
       I never really took it very seriously until 2 years ago when I picked it back up again
       after a long time of not doing it. I decided this time I would learn enough to possibly
       get myself a job, and that is part of the aim of this website, is to show off a little.</p>

        <h2>Music: </h2>
        <p>I have been playing piano since the age of 3, and have been writing music since high school.
           This is another thing I haven't ever really taken very seriously, but I do think I have the prerequisites
           met if you would like some music written for any sort of project you might have.</p>
    {% endblock %}