{% extends "base.html" %}
    {% block title %}
    <title>Patrick Boynton</title>
    {% endblock %}
    {% block body_block %}
    <h1>About Me: </h1>
    <p> I have been programming seriously for the last 2 years. I have no professional experience, but part of the reason
        I wrote this website is so that I might be able to get one. I wanted to show that I have many of the skills
        needed for a junior position someplace. I started off with C#, and spent about a year with that.
        I have spent most of the rest of this time with Python, HTML, CSS, and JavaScript. The two languagesz
        I am best at are, Python and CSS. I am still fairly good at C#, but am looking for a position with Python.
        I am hoping to become a web developer.  </p>
        <h2>About this website: </h2>
        <p>As I stated, I want a position programming in Python, and the best way I thought to help that was to
           write my own website in the language. I will eventually include a blog, or some other way of showing
           I can create update, and delete. For now though, I wanted to get the basics out of the way. It was created
           using the Django framework. I can use the Flask framework but it has been quite some time since I have used it.
           This one also seemed more of a right fit for me. I also chose not to use BootStrap. I wanted to show that I could
           in fact use CSS, without a crutch. This is what I consider BootStrap, but it does have it's uses like all tools.
           Currently there is no JavaScript, but there hasn't been a need yet. I may post two of my JavaScript projects in the
           portfolio portion just to show that I know how to write in the language. </p>
    {% endblock %}