{% extends "base.html" %}
    {% block title %}
    <title>Patrick Boynton</title>
    {% endblock %}
    {% block body_block %}
        <div class="container">
           <h1>About Me: </h1>
            <p> My first career was, if you can call it a career was in customer service, or at least a related field of customer service.
            I eventually got tired of dealing with the new changes at the job I had held for 17 years, and figured it was better for me
            to move on. I've always loved programming, but it wasn't until recently that I was able to find the resources to put most of what I
            had learned over the years into something. I've spent the past year immersing myself in Python. I originally found the langauge
            through a 3d program called Blender, and have been fascinated with the language ever since. It's simple to learn, and very powerful. I enjoy
            using it, and that is the main reason I would like to seek a job using it every day. Don't take the programming languages section as an
            approximation of my skill in those languages.</p>
            <h2>Programming skills:</h2>
            <table>
            <thead>
                <tr>
                    <th>Programming Languages</th>
                    <th>Python Libraries</th>
                    <th>Frameworks</th>
                    <th>Version Control</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td>Python 3/2.7</td>
                <td>lxml</td>
                <td>Django</td>
                <td>Git</td>
            </tr>
            <tr>
                <td>HTML5</td>
                <td>Beautiful Soup</td>
                <td>Flask</td>
                <td>GitHub</td>
            </tr>
        <tr>
            <td>CSS3</td>
            <td>Faker</td>
            <td>Asp.Net</td>
        </tr>
        <tr>
            <td>JavaScript/ECMAScript</td>
            <td>PyQt5</td>
        </tr>
        <tr>
            <td>C#</td>
            <td>psycopg2 (PostgreSQL)</td>
        </tr>
        <tr>
            <td></td>
            <td>sqlite3(SQLite)</td>
        </tr>
        </tbody>
        </table>
        </div>
    {% endblock %}