<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "/css/site.css"%}">
    <title>Patrick Boynton</title>
</head>
<body>
    <h1>Patrick Boynton</h1>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Me</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'contact' %}">Contact Me</a></li>
    </ul>
    
    {% block body_block %}
    
    {% endblock %}

</body>
</html>