<!DOCTYPE html>
{% extends "base.html" %}

    {% block title %}
    <title>Patrick Boynton</title>
    {% endblock %}
    {% block body_block %}
    <h1>Developer/Composer</h1>
    <p>Welcome! One of my favorite things to do, is to program, and to learn about
       programming. It's something I only recently decided to try professionally.
       if you want to know more about me and my qualifications, either click the resume
       link, or the about me page. Either will do. My other passion, that I mentioned is writing music.
       I've been doing that for a long time as a hobby, and decided to show off some of the better things I've written. </p>
    {% endblock %}