body{
    margin:0;
    animation: onload 2s ease-in 1;
}
h1{
    text-align:center;
}
.top{
    border-bottom:3px solid black;
    padding-bottom:2%;
}
ul{
    list-style:none;
    display:flex;
    padding-left:40%;
}
li{
    margin-left:3%;
}
a{
    text-decoration:none;
}
a:visited{
    color:black;
}
a:hover{
    background:black;
    color:white;
}
p{
    text-align:center;
}
img{
    padding-left:2%;
}
.container{
    text-align:center;
}
@keyframes onload{
    0% {opacity:0;}
    100%{opacity:1;}
}