body{
    margin:0;
}
h1{
    text-align:center;
}
.top{
    border-bottom:3px solid black;
    padding-bottom:2%;
}
ul{
    list-style:none;
    display:flex;
    padding-left:40%;
}
li{
    margin-left:2%;
}
a{
    text-decoration:none;
    padding:1%;
}
a:visited{
    color:black;
}
a:hover{
    background:black;
    color:white;
}
p{
    text-align:center;
}
img{
    padding-left:5%;
}
.container{
    text-align:center;
}