html{
    font-family:Arial;
}
body{
    margin:0;
    animation: onload 2s ease-in 1;
}
h1{
    text-align:center;
    margin-bottom:0;
}
h2{
    text-align:center;
}
.top{
    border-bottom:3px solid black;
    padding-bottom:2%;
}
ul{
    list-style:none;
    display:flex;
    padding-left:37.5%;
    padding-top:.2%;
    padding-bottom:.2%;
    margin:0;
    border-bottom:3px solid black;
}
form{
    text-align:center;
}
li{
    margin-left:3%;
    padding:0;
    height:100%;
}
input[type="submit"]{
    background:black;
    color:white;
    outline:none;
}
a{
    text-decoration:none;
    padding:5px;
}
a:visited{
    color:black;
}
a:hover{
    background:black;
    color:white;
}
p{
    text-align:center;
    width:65%;
    margin-left:18%;
}
img{
    padding-left:2%;
}
.container{
    text-align:center;
}
@keyframes onload{
    0% {opacity:0;}
    100%{opacity:1;}
}